@import '../../../../../../assets/styles/variables';
.wishToContinue_main{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction:column;
  align-items: center;
   p{
    padding: 0 20px;
    text-align: start;
  }
  h3{
    margin: 20px 0;
    text-decoration: underline;
    text-align: center;
  }
  .appBook__main_div_continue{
    width: 90%;
    height: 50%;

    background-color: $lavender;
    border-radius: 2px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .appBook__main_div_continue_cont-btn{
      width: 80%;
      height: 50%;
      display: flex;
      justify-content: space-evenly;

      button{
        @include appBookBTN
      }
      button:hover:nth-child(1){
        background-color: $light-red;
      }
      button:hover:nth-child(2){
        background-color: $green-succes;
      }  
    }
    
  }
}