@import '../../../../../../assets/styles/variables';
.treatment__title{
  list-style: none;
  font-family: 'Poppins', sans-serif;
  color: $color-paper;
  font-size: 1.2rem;
cursor: pointer;
    width: 100%;
    display: grid;
    place-content: center;
    height: 10%;
    transition: ease all .3s;
  }
  .treatment__title:hover{
    background-color: rgba(0, 0, 0, 0.142);
    color: white;
}