@import '../../../../assets/styles/variables';

.treatments__main{
  @include standardSection;
    height: auto;
  
    margin-bottom: 50px;
    justify-content: space-evenly;
    align-items: center;

    }