@import '../../../assets/styles/variables';

.footer__main{
  width: 100%;
  height: 70vh;
  background-color: $color-black-steel;
  display: flex;
  flex-direction: column;
  .footer__main_divisors{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 90%;
    .footer__main_divisor{
      width: calc((100% / 2) - 1%);
      height: 100%;
      margin: 10px 0;
      
    }
    .footer__main_divisor-1{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border-left: 1px solid gray;
      a{
        
        text-decoration: underline;
        margin-right: 90px;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.87);
      }
    }
   .footer__main_divisor-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    hr{
      width: 70%;
      margin-right: 15px;
      background-color: gray;
    }
    .footer_schedules , .footer_address{
      width: 65%;
      margin-right: 20px;
    }
    .footer_social-media{
      width: 70%;
      display: flex;
      justify-content: space-evenly;
      img{
        width: 50px;
      }
    }
   }
  }
  .footer__main_cont-copyright{
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
}