@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Luxurious+Script&display=swap');

.logo__container{
  user-select: none;
  width: 10rem;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  position: relative;
 
  

  .logo__container-initials{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 1rem;
    .logo__initial-letters{
      
      font-size: 9rem;
      font-family: 'Luxurious Script', cursive;
     
    }
    .logo__initial-letters:nth-child(1){
      font-size: 9rem;
     
    }
    .logo__initial-letters:nth-child(2){
      

    }
  }
  .logo__container-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .logo__title{
      font-family: sans-serif;
      font-weight: 400;
      font-size: 1rem;
      letter-spacing: 1.3rem;
    }
  }
}