@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
  /*Pallets colours*/
  $color-black-steel:#080706;
  $color-paper: #efefef;
  $color-gold-leaf: #d1b280;
  $color-silver: #594d46;
  $burgundy: #800020;
  $navy-blue: #0a0a4df4;
  $emerald-green: #008000;
  $quartz-pink: #F7CAC9;
  $cream: #FFFDD0;
  $brilliant-silver: #C0C0C0;
  $mustard-yellow: #FFDB58;
  $lavender: #E6E6FA;
  $mint-green:#B6D7A8;
  $ligth-geen:#A2C8A2;
  $skin:#ffe1c9;
  $light-blue: rgb(207, 207, 232);
  //mixin

  @mixin standardSection {
    width: 100%;
    height: 150vh;
    min-height: 150vh;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  @mixin defaultBTN{
      width: 15rem;
      height: 2.5rem; 
      font-size: 1.3rem;
      background-color: $mint-green;
      border: none;
      border-radius: 3px;
      box-shadow: 1px 2px 5px black;
      
     
      cursor: pointer;
  }